.main-header {
  width: 100%;  /* Full width of the container */
  height: 400px;
  display: flex;
  flex-direction: column; /* Stack avatar and user vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-color: rgb(255, 149, 36);
  background-image: url("/images/black-linen.png");
  background-size: cover;
}

.user h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 150;
  color: white;
  margin-top: 5px; 
}

@media only screen and (min-width: 1024px){
  .main-header{
    width: 25%;
    float: left;
    margin-top: 125px;
    margin-left: 65px;
  }
}