/* Style the nav bar*/
nav {
  height: 120px;
  /* Set height of navigation bar to 120px */
  width: 100%;
  /* Full width of the viewport */
  background-color: #4056A1;
  /*Default background color */
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  /* Space between the left and right content */
  padding: 1.5em;
  /* Adding 1.5em space on the left and right of content */
  position: fixed;
  top: 0px;
}

/* Style the span inside nav */
nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

/* Style the tweet button container */
.tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* */
/* Style for the "Write a new tweet" text */
.tweet-button span {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.0em;
  font-weight: 200;
  color: #FFFFFF;
  margin-bottom: 5px;
}

/* Style for the angle double down icon*/
.tweet-button i {
  font-size: 0.8em;
  color: #fd4508;
}