/* Style the nav bar*/
nav {
  /* Set height of navigation bar to 120px */
  height: 120px;
  /* Full width of the viewport */
  width: 100%;
  /*Default background color */
  background-color: #4056A1; 
  color: #FFFFFF;
  display: flex;
  /* Space between the left and right content */
  justify-content: space-between;
  /* Adding 1.5em space on the left and right of content */
  padding: 1.5em;
  /*Navigation bar to keep stick at top of window*/
  position: fixed;
  top: 0px;
}

/* Style the span inside nav */
nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

/* Style the tweet button container */
.tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the "Write a new tweet" text */
.tweet-button span {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.0em;
  font-weight: 200;
  color: #FFFFFF;
  margin-bottom: 5px;
}

/* Style for the angle double down icon*/
.tweet-button i {
  font-size: 0.8em;
  color: #fd4508;
}

@media only screen and (max-width: 1024px) {
  nav {
    height: 120px; 
    width: 100%; /* Full width of the viewport */
    background-color: rgb(240, 146, 45); /* Same background color as header */
    background-image: url("/images/black-linen.png"); /* Same background image as header */
    position: absolute; /* Allow nav to blend with header */
    top: 0px;
    background-size: cover; /* Ensure proper scaling of the background */
    display: flex;
    justify-content: space-between; /* Space out "Tweeter" and "Write a new tweet" */
    align-items: center; /* Center content vertically */
    padding: 1.5em;
  }

  nav span {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5em; 
    color: #ffffff; 
  }

  .tweet-button {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
}
