nav {
  height: 120px; /* Set height of navigation bar to 120px */
  width: 100%; /* Full width of the viewport */
  background-color: #4056A1; /*Default background color */
  color: #FFFFFF;
  display: flex;
  justify-content: space-between; /* Space between the left and right content */
  padding: 1.5em; /* Adding 1.5em space on the left and right of content */
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 2.0em;
}

.content-on-right {
  display: flex;
  flex-direction: column;
  align-items: center; /*Align items to the right*/
}
/* */
.content-on-right span {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.0em;
  color: #FFFFFF;
  margin-bottom: 5px; 
}

.content-on-right i {
  font-size: 0.8em; 
  color: #fd4508;
}