/* Section styling */
.new-tweet {
  background-color: inherit;
  /*Adds padding inside the form section to give space*/
  padding: 20px;
}

/* Header styling */
.new-tweet h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 35px;
  font-weight: 200;
  display: flex;
  /* Center aligns the header */
  justify-content: center;
}

/* Styling for the label */
.new-tweet label {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  /* Adds space below the label */
  margin-bottom: 10px;
}

.new-tweet-form {
  /* Adds margin around the form to give it space from other elements */
  margin: 20px;
}

/* Styling for the textarea */
#tweet-text {
  font-size: 20px;
  background-color: inherit;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.600);
  padding: 20px; /* Adds padding inside the textarea */ 
  margin-top: 20px;
  margin-bottom: 15px; /* Adds space below the textarea */ 
  padding-bottom: 0px;
}

#tweet-text::placeholder {
  font-weight: bolder;
  color:rgba(0, 0, 0, 0.600);
}

/* Styling for div tag containing button and counter */
.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /*Adds space between textarea and button */
}

/* Style for the tweet button */
button[type="submit"] {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  padding: 10px 20px;  /* Adds padding for better button appearance */
}

/*Hover effect on button */
button[type="submit"]:hover {
  background-color: #3c4b91; /* Darker background color when hovered */
  transform: scale(1.05);  /* Slightly enlarges the button */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Styling for the counter */
.counter {
  color: #000000ad;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
}

/* Styling for red colored counter */
.red-counter {
  color: red;
}

.error-message {
  display: none;
  background-color: inherit;
  color: #f7202a;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 3px solid #f7202a;
  margin-top: 10px;
  margin-bottom: 15px;  /* Space between error and other elements */
}

.error-message i {
  font-size: 16px;
}

@media only screen and (min-Width: 1024px){
  .container{
     width: 50%;
     float: right;
     margin-right: 75px;
  }
}